body {
  margin: 0;
  --padding-content: 2rem;
}
.cards {
  border: 1px solid #ccc;
  max-width: 320px;
  width: calc(100% - 2px);
  height: auto;
  font-family: "Open Sans";
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.card-header-school-heading {
  font-family: "MerriWeather";
}
.card-header-school-name {
  font-size: 14px;
  margin-top: 0;
  padding: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #24324c;
  color: #fff;
}
.card {
  padding: 8px;
}

.card-closebutton {
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: -8px;
}

.card.origin .card-closebutton {
  display: none;
}

.card-header-school-type-county,
.card-header-school-type,
.card-header-school-grades,
.card-header-school-teacher {
  display: block;
  width: 100%;
  margin-top: 4px;
}
.card-header {
  margin-bottom: 16px;
}
.card table {
  border-spacing: 0;
  width: 100%;
}
.card th {
  border-bottom: 2px solid black;
}

.card tbody tr:nth-child(even) {
  background: #eeeeee;
}
.card tbody tr:nth-child(odd) {
  background: #fff;
}

.react-autosuggest__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.react-autosuggest__container input {
  width: calc(100% - 20px);
  padding: 8px;
}

.react-autosuggest__suggestions-list {
  box-shadow: 2px 10px 10px -10px #000;
  padding: 8px;
  border-top: 0px;
  background-color: #fff;
  width: calc(100% - 16px);
  position: absolute;
  z-index: 1;
  overflow: hidden;
  height: auto;
  max-height: 480px;
  overflow-y: auto;
}
.react-autosuggest__suggestion {
  background-color: #fff;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #f1f1f1;
}

td.td1 {
  width: 60%;
}
td.td2,
td.td3 {
  width: 20%;
}
/*
xs - 320
s - 480
m - 768
l - 1008
xl - 1440
*/
.reactour__helper {
  width: 50%;
}
/* XS */
@media only screen and (max-width: 480px) {
  .cards,
  .reactour__helper,
  .react-autosuggest__container {
    max-width: 320px;
  }
  .reactour__helper {
    width: 80%;
  }
}
/* S */
@media only screen and (max-width: 768px) {
  .cards,
  .reactour__helper,
  .react-autosuggest__container {
    max-width: 480px;
  }
  .reactour__helper {
    width: 70%;
  }
}
/* XS */
@media only screen and (max-width: 1004px) {
  .cards,
  .reactour__helper,
  .react-autosuggest__container {
    max-width: 768px;
  }
  .reactour__helper {
    width: 50%;
  }
}
/* XS */
@media only screen and (max-width: 1439px) {
  .cards,
  .reactour__helper,
  .react-autosuggest__container {
    max-width: 1004px;
  }
  .reactour__helper {
    width: 50%;
  }
}
/* XS */
@media only screen and (min-width: 1440px) {
  .cards,
  .reactour__helper,
  .react-autosuggest__container {
    max-width: 1440px;
  }
  .reactour__helper {
    width: 50%;
  }
}

.card-header-school-name {
  line-height: 1.5;
}
